<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li>
      <a href="#">Characters</a>
      <ul>
        <li><a routerLink="/create-character">Create Character</a></li>
        <li><a routerLink="/character-faction">Character Faction</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Guilds</a>
      <ul>
        <li><a routerLink="/create-guild">Create Guild</a></li>
        <li><a routerLink="/players" class="player-tab" (click)="onPlayerTabClick()">Players</a></li>
      </ul>
    </li>
    <li>
      <a href="#">User</a>
      <ul>
        <li *ngIf="!email"><a routerLink="/signin" style="color: white;">Sign In</a></li>
        <li *ngIf="email" style="color: white;">Welcome, {{ email }}!
          <button (click)="signout()" style="color: white; background-color: #DAA520; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; transition-duration: 0.4s;">Sign Out</button>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/about">About</a>
      <ul>
        <li><a routerLink="/gallery">Gallery</a></li>
      </ul>
    </li>
  </ul>
</nav>
<main>
  <h1>{{ title }}</h1>
  <router-outlet></router-outlet>
</main>
<footer>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li>
        <a href="#">Characters</a>
        <ul>
          <li><a routerLink="/create-character">Create Character</a></li>
          <li><a routerLink="/character-faction">Character Faction</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Guilds</a>
        <ul>
          <li><a routerLink="/create-guild">Create Guild</a></li>
          <li><a routerLink="/players" class="player-tab" (click)="onPlayerTabClick()">Players</a></li>
        </ul>
      </li>
      <li>
        <a href="#">User</a>
        <ul>
          <li *ngIf="!email"><a routerLink="/signin" style="color: white;">Sign In</a></li>
          <li *ngIf="email" style="color: white;">Welcome, {{ email }}!
            <button (click)="signout()" style="color: white; background-color: #DAA520; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; transition-duration: 0.4s;">Sign Out</button>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/about">About</a>
        <ul>
          <li><a routerLink="/gallery">Gallery</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</footer>












